* {
  box-sizing: border-box;
}

html {
  @media screen and (max-width: $screen-medium) {
    font-size: 14px;
  }

  @media screen and (max-width: $screen-small) {
    font-size: 12px;
  }
}

body {
  color: $font-color;
  background: $bg-color;
  font-family: "Roboto", sans-serif;
  padding-bottom: 30px;
}

figure {
  margin: 0;
}

a {
  color: $font-color;
  text-decoration: none;
}

button {
  margin: 0;
  padding: 0;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
}

.container {
  padding: 0 30px;
}

.card-placeholder {
  display: grid;
  grid-template-rows: 2rem auto;
  box-shadow: 0px 28px 28px rgba(0, 0, 0, 0.1);
  background: $bg-dark-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card-default {
  display: grid;
  grid-template-rows: 2rem auto;

  &:hover {
    .card__img {
      // todo
    }
  }
}

.card__title-with-icon {
  font-family: Roboto;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-shadow: 0px 11.0819px 5.54094px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}

.card__title-text {
  margin: 0;
}

.card__img {
  box-shadow: 0px 28px 28px rgba(0, 0, 0, 0.1);
  background: $bg-dark-color;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: all $trans-prop;
}

.card__icon {
  max-height: 100%;
  margin-right: 10px;
}

.card__top-right-link {
  display: flex;
  font-weight: bold;
  font-size: 1.2rem;
  line-height: (33/40);
  color: #6F6D99;
  text-transform: none;

  span {
    margin-right: 10px;
  }

  img {
    transition: all $trans-prop;
    position: relative;
    right: 0;
  }

  &:hover {
    img {
      right: -3px;
    }
  }
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $bg-nav-color;
  padding: 15px 160px 15px 256px;

  @media screen and (max-width: 1600px) {
    padding: 15px 30px;
  }
}

.btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 26px;

  &--gradient {
    padding: $gradient-btn-border-width;
    border-radius: 999px;

    &:hover {
      .btn-gradient-inner {
        transition: all $trans-prop;
        background: linear-gradient(90deg,#242333,#6f6d99);
      }
    }
  }

  &--gradient-light {
    background: $btn-light-gradient;
  }

  &--gradient-dark {
    background: $btn-dark-gradient;
  }

  &--gradient-mix {
    background: $btn-avatar-gradient;
  }
}

.btn-gradient-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
  line-height: 26px;
  background-color: $bg-nav-color;
  padding: 6px 22px;
  border-radius: inherit;
  transition: none;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $btn-avatar-gradient;
  padding: $gradient-btn-border-width;
  border-radius: 999px;
  max-width: 4rem;

  img {
    border-radius: inherit;
    padding: 5px;
    background-color: $bg-nav-color;
    max-width: 100%;
    height: auto;
  }
}
