$bg-color: #323145;
$bg-dark-color: #201e2e;
$bg-nav-color: #262435;
$font-color: #dfe1ef;

$btn-light-gradient: linear-gradient(90deg,#eabe45 0,#cb4cbc);
$btn-light-gradient-hover: linear-gradient(90deg,#cb4cbc 0,#eabe45);
$btn-dark-gradient: linear-gradient(90deg,#682fbd 0,#cb4cbc);
$btn-dark-gradient-hover: linear-gradient(90deg,#cb4cbc 0,#682fbd);
$btn-avatar-gradient: linear-gradient(90deg,#ff905a 0,#d94fc7);

$trans-prop: 0.3s ease;

$gradient-btn-border-width: 0.2rem;
$container-size: 30px;
$container-size-small: 15px;

$screen-medium-big: 900px;
$screen-medium: 768px;
$screen-small: 425px;
